body {
  background-color: #f7f0f5; /* Soft background to enhance the gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.love-txt {
  font-size: 4rem;
  font-weight: bold;
  color: red;
  font-family: "Cursive", "Serif";

  text-align: center;
}
.love {
  animation: rubberBand infinite alternate;
  animation-duration: 3s;
}
