*
{
    margin: 0;
    padding: 0;

}

body{
    background-image: url(image/propose.jpg);
    background-position: c;
}

.heading
{
    text-align: center;
    margin-top: 100px;
}

.detail
{
    font-size: 80px;
    padding: 15px;

}

.condition
{
    text-align: center;
}
.boy
{
    background-color: yellow;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    margin-left: 500px;
    border-radius: 15px;
    padding: 15px;
    width: 150px;
}

.girl
{
    background-color: yellow;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    margin-left: 40px;
    border-radius: 15px;
    padding: 15px;
    width: 190px;  
}

.boy a{
    text-decoration: none;
}

.girl a{
    text-decoration: none;
}